
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WildWest Index</title>
</head>
<body>
    <h1>Game Lobby</h1>
    <h2>Available Rooms<h2>
    {% if rooms %}
    <ul>
        {% for room in rooms %}
        <li><a href="{% url 'WestLobby:gameRoom' room.id %}">{{ room.room_name }}</a></li>
        {% endfor %}
    </ul>
    {% else %}
        <p>No rooms are available.</p>
    {% endif %}
    <h2>Create New Room</h2>
    <br>
    {% include './Components/createRoomForm.html' %}
</body>
</html>
